<div *ngIf="updateEnabled">
  Stock Code: <input #updateStockCode [value]="selectedStock.stockCode"/>
  Stock Name: <input #updateStockName [value]="selectedStock.name">
  <button type="button" (click)="updateStock(updateStockCode.value, updateStockName.value)">
    UPDATE
  </button>
</div>



<div class="m-x-auto p-a-2" style="width: 900px">
  <table class="table table-striped table-inverse table-sm center">
    <thead>
      <tr>
        <th>#</th>
        <th>Operations </th>
        <th>Name </th>
        <th>Stock Code </th>
      </tr>
    </thead>
    <tr *ngFor="let stock of stocks">
      <td>{{ stock.id }}</td> 
      <td><button type="button" class="btn btn-warning" (click)="loadDetails(stock)">Update</button></td>
      <td><button type="button" class="btn btn-danger" (click)="deleteStock(stock.id)">Delete</button></td>
      <td>{{ stock.name}}</td> 
      <td>{{ stock.stockCode }}</td>
    </tr>
  </table>
</div>
<hr>
<h2>Add Stock</h2>
Stock Code: <input #newStockCode />
Stock Name: <input #newStockName />

<button type="button" class="btn btn-primary" (click)="createStock(newStockCode.value, newStockName.value)">CREATE </button>
<div class="jumbotron">
  <h1 class="display-3">Angular 4 Finance</h1>
  <p class="lead">Stocks, Bonds, Mutual Funds</p>
  <hr class="my-4">
  <p>A simple Angular 4 finance web application (playing with Angular 4).</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>